.App {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.logo img {
    max-width: 40px;
}

p {
    font-size: 18px;
    text-align: center;
}

button {
    padding: 10px;
    margin: 10px;
    font-size: 18px;
    color: #ffffff;
}

button.add {
    background-color: #18978f;
}

.hidden {
    display: none;
}


/* footer {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid var(--theme-border);
} */